/*Desarrollado por Marcos Enrique Gonzalez
  Dni: 37674133
  Fecha: 20-02-2015
  Carrera: Analista en Sistemas de Computacion
*/
header{
	background-color: #99CCFF;
	color: #fff;
}

aside{
	background-color: #FF6633;
	color: #fff;
}

.combobox{
	color: #000;
}